.container {
    width: 100%;

    table {
        width: 100%;
        border-spacing: 0px 8px;
    
        th {
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
    
            color: #969CB3;
        }
        
        tr {
            td {
                flex: 1;
                background-color: var(--black-items);
                padding: 15px 8px;
                margin: 0px;
                text-align: center;
                border: 0;
        
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #C4C4CC;
        
                &:first-child {
                    border-radius: 5px 0px 0px 5px;
                    color: var(--gray);
                }
        
                &:last-child {
                    border-radius: 0px 5px 5px 0px;
                }
        
                &.entry {
                    color: var(--green-light);
                }
        
                &.exit {
                    color: var(--red);
                }

                &:nth-child(7),
                &:nth-child(8) {
                    width: 50px;
                    
                    button {
                        border: none;
                        background: transparent;
                        visibility: visible;

                        &:hover {
                            filter: brightness(0.8);
                        }
                    }
                }
            }

            &.paidOut td {
                text-decoration: line-through;
                background-color: var(--black-card);
            }
        }
    
    }
}