.containerFluid {
    width: 100vw;
    height: 100vh;
    background: var(--green);
}

.container {
    max-width: 1120px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .content {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;

        h1 {
            font-weight: 300;
            font-size: 40px;
            line-height: 72px;
            color: var(--white);

            span {
                color: var(--green-dark);
            }
        }

        a {
            background: var(--green-dark);
            width: 285px;
            height: 64px;
            border-radius: 50px;

            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--white);
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;

            transition: filter .2s;

            &:hover {
                filter: brightness(.8);
            }
        }
    }

    img {
    }
}

@media (max-width: 980px){
    .container {
        flex-direction: column;
        
        img {
            width: 100%;
            max-width: 600px;
        }
        .content {
            align-items: center;

            img {
                width: 100%;
                max-width: 300px;
            }

            h1 {
                font-size: 30px;
                line-height: 52px;
                padding-left: 25px;
                padding-right: 25px;
                text-align: center;
            }
    
            a {
                width: 185px;
                height: 64px;
                border-radius: 50px;
            }
        }
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        
        img {
            width: 100%;
            max-width: 300px;
        }
        .content {
            img {
                width: 100%;
                max-width: 250px;
            }
        }
    }
}