.container {
    width: 100%;
    padding: 5px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    border-bottom: 1px solid var(--black-items);

    h1 {
        font-weight: 600;
        font-size: 35px;

        color: var(--white);
    }

    p {
        font-family: 'Quicksand';
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: var(--white);
    }

    span {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #AEAEAE;

    }
}