.container {
    max-width: 265px;
    width: 100%;
    height: 100vh;

    padding: 5px;

    border-right: 1px solid var(--black-items);
    background: var(--black-body);

    position: relative;

    .expandCollapse {
        position: absolute;
        top: 5px;
        right: 8px;
        cursor: pointer;
    }

    .content {
        height: 100%;
        background: var(--black-nav);
        border: 1px solid var(--black-items);
        border-radius: 30px;

        display: flex;
        flex-direction: column;

        .perfil {
            flex: 2;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;

            .logo {
                width: 120px;
                padding: 5px !important;
            }

            .photo {
                width: 72px;
                min-height: 65px;
                max-height: 72px;
                object-fit: cover;
                border: 2px solid #359766;
                border-radius: 4px;
            }

            h2 {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: var(--white);
            }

            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                color: var(--white);
            }
        }

        .navigation {
            flex: 3;
            border-top: 1px solid var(--black-items);
            padding: 25px;
            
            display: flex;
            flex-direction: column;
            gap: 5px;

            position: relative;

            .menu,
            .selected {
                padding: 10px;
                cursor: pointer;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;

                    color: var(--black-card);
                }

                &:last-child {
                    position: absolute;
                    bottom: 0;

                    span {
                        color: var(--red);
                    }
                    
                    transition: filter 2s;

                    &:hover {
                        filter: brightness(.8);
                    }
                }
            }

            .selected {
                background: var(--green);
                border-radius: 5px;

                span {
                    color: var(--white);
                }
            }
        }

        .footer {
            flex: 1;
            border-top: 1px solid var(--black-items);
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            a {
                font-size: 10px;
                text-align: center;
                color: #C7C7C7;
            }   
        }
    }
}

.collapse {
    width: 134px;
    padding: 10px;

    .expandCollapse {
        transform: scaleX(-1);
    }

    .content {
        .perfil {
            .logo {
                width: 24px;
                height: 44px;
            }
        
            p {
                display: none;
            }
        }

        .navigation {
            .menu,
            .selected {
                justify-content: center;

                span {
                    display: none;
                }
            }
        }

        .footer {
            img {
                width: 30px;
            }
        }
    }
}

@media (max-width: 980px) {
    .container {
        width: 80px;
        padding: 5px;
    
        .expandCollapse {
            display: none;
        }
    
        .content {
            .perfil {
                .logo {
                    display: none;
                }
    
                .photo {
                    width: 50px;
                    min-height: 55px;
                }
    
                h2 {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
    
            .navigation {
                padding: 10px;
    
                .menu,
                .selected {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-height: 667px) {
    .content {
        .perfil {
            justify-content: center !important;

            p {
                display: none;
            }
        }
    }
}