/* Modal Styles */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);

    .modal {
        background: var(--white);
        width: 500px;
        height: auto;
        border-radius: 5px;
        padding: 20px 0px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        form {
            max-width: 450px;
            width: 100%;
            padding: 0 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .row {
                width: 100%;
                display: flex;
                gap: 10px;

                .content {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    label {
                        margin-bottom: 0px;
                    }
                }
            }

            h3 {
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                text-align: start;
                width: 100%;

                text-align: center;

                color: var(--black-50);
                margin-bottom: 5px;
            }

            label {
                margin-bottom: -15px;
                text-align: start;
                width: 100%;
                color: #969CB3;
            }

            input,
            select {
                width: 100%;
                background: #E7E9EE;
                border: 1px solid #D7D7D7;
                border-radius: 5px;
                padding: 12px 15px;

                font-family: 'Poppins';
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #969CB3;

                &:focus {
                    outline: none;
                    border: 2px solid var(--green-light);
                }
            }

            button {
                background: var(--green);
                border-radius: 5px;
                border: none;
                width: 100%;
                padding: 12px;
                margin-top: 5px;

                font-family: 'Poppins';
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;

                color: var(--white);

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }
}