@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
    --color-primary: #359766;
    --color-primary-darken: #10393b;
    --color-secondary: #202223;

    --font-poppins: Poppins, sans-serif;
    --font-quick: Quicksand, sans-serif;

    --breakpoint-3xl: 120rem;
    --breakpoint-card3xl: 121rem;
}
